In [21]:
#importing panadas. operating dataset is the use of pandas.
import pandas as pd
import numpy as np
#creating dataframe of given dataset. reading dataset.
df=pd.read_csv("https://raw.githubusercontent.com/Premalatha-success/Datasets/main/CardioGoodFitness-1.csv")

In [ ]:
#show if there are any missing values
df.isnull().sum()

In [ ]:
df.info()
#size of dataset
print(df.shape)
#datatype
print(df.dtypes)
#complete decription, min, max, std daviation etc.
df.describe(include = 'all')

In [ ]:
#first 5 rows by default, no. of rows in bracket
print(df.head(10))
#last rows
print(df.tail())
#only 1 row by default, no.. rows in brackets.
print(df.sample(3))

In [ ]:
label = ['X', 'y', 'z', 'w']
l = [100, 200, 300, 400]
arr =np.array([1, 2, 3, 4])
d = {'x': 10, 'y': 10, 'z': 40, 'w': 54}
#creating a series. applicable for one column only.
print(pd.Series(data = l))
print(pd.Series(data = l, index = arr))
print(pd.Series(l, label))
print(pd.Series(d))

sports1 = pd.Series([1, 2, 3, 4], index = ['cricket', 'football', 'basketball', 'handball'])
print(sports1)
sports2 = pd.Series([1, 2, 3, 4], index = ['hocky', 'football', 'basketball', 'kabaddi'])
print(sports2)
print(sports1+sports2)
sports1['cricket']

In [50]:
df1 = pd.DataFrame(np.random.rand(8,5), index = 'a b c d e f g h'.split(), columns = 's1 s2 s3 s4 s5'.split())
print(df1)
print(df1['s3'])
print(df1[['s1', 's2', 's3']])
df1['s6']=df1['s2']+df1['s5']
print(df1['s6'])

d1 = {'ID' : [33, 44, 66, 77], 'name' : 'kusum ankita sujay namita'.split(), 'profit':[33,55,77,22]}
df2 = pd.DataFrame(d1)
print(df2)
print(df2['ID'])
print(df2[['ID', 'name']])
df3 = df2.drop('ID', axis = 1)
print(df3)
print(df2.drop(3))
print(df2.drop(2, axis = 0))

         s1        s2        s3        s4        s5
a  0.395601  0.841440  0.067013  0.109853  0.924105
b  0.818193  0.699307  0.838516  0.020581  0.279818
c  0.146552  0.444211  0.761794  0.037778  0.206109
d  0.687892  0.855690  0.607157  0.153458  0.893664
e  0.999617  0.122856  0.992911  0.922704  0.992833
f  0.584109  0.290550  0.795455  0.613108  0.250886
g  0.726152  0.612012  0.940266  0.762015  0.508923
h  0.455704  0.105190  0.237413  0.990740  0.384302
a    0.067013
b    0.838516
c    0.761794
d    0.607157
e    0.992911
f    0.795455
g    0.940266
h    0.237413
Name: s3, dtype: float64
         s1        s2        s3
a  0.395601  0.841440  0.067013
b  0.818193  0.699307  0.838516
c  0.146552  0.444211  0.761794
d  0.687892  0.855690  0.607157
e  0.999617  0.122856  0.992911
f  0.584109  0.290550  0.795455
g  0.726152  0.612012  0.940266
h  0.455704  0.105190  0.237413
a    1.765545
b    0.979125
c    0.650320
d    1.749353
e    1.115689
f    0.541436
g    1.120935
h    0.489492
Name: s6, dtype: float64
   ID    name  profit
0  33   kusum      33
1  44  ankita      55
2  66   sujay      77
3  77  namita      22
0    33
1    44
2    66
3    77
Name: ID, dtype: int64
   ID    name
0  33   kusum
1  44  ankita
2  66   sujay
3  77  namita
     name  profit
0   kusum      33
1  ankita      55
2   sujay      77
3  namita      22
   ID    name  profit
0  33   kusum      33
1  44  ankita      55
2  66   sujay      77
   ID    name  profit
0  33   kusum      33
1  44  ankita      55
3  77  namita      22