In [6]:
# only _ this special character can be included in the identifier. it can be in the beggining of the identifier.
print('xyz')
x = 20
_x = 'True'
x1_ = True
print(_x)
y = 3 +2j
type(_x), type(y), type(x1_)

xyz
True

(str, complex, bool)

In [ ]:
#string strictly in sigle or double inverted comma.
xy = analytics
print(xy)

In [ ]:
#syntaxerror
#an identifier cant start with a numeric
1x = 33

In [ ]:
#nameerror
#python is case sensitive
Print(y)

In [ ]:
list1 = [ 1, 2, 'hi', True, 3+4j]
print(list1)
type(list1)

In [ ]:
tuple1 = 1, 2, 'hi', True, 3+4j
print(tuple1)
type(tuple1)

In [ ]:
set1 = {1, 2, 'hi', True, 3+4j}
print(set1)
type(set1)

In [ ]:
d = {1:33, 2:'hi', 3: 56.87, 4:[5, 6, 7]}
print(d)
type(d)